@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

body {
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
}

article {
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    width: 20%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    img {
        border-radius: 25px;
        width: 100%;
        height: auto;
    }
    .text-content {
        padding: 20px 30px;

        h1 {
            color: var(--dark-blue);
            margin-bottom: 15px;
        }
    
        p {
            color: var(--grayish-blue);
        }
    }
}

footer {
    background-color: var(--white);
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    a {
        text-decoration: none;
        color: var(--grayish-blue);
        transition: 0.3s;
    }

    a:hover,
    a:focus {
        color: var(--dark-blue);
        transition: 0.5s;
    }
}

@media only screen and (max-width: 1440px) {
    article {
        width: 27%;

        .text-content {
            padding: 20px 33px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    article {
        width: 35%;
    }
}

@media only screen and (max-width: 850px) {
    article {
        width: 45%;
    }
}

@media only screen and (max-width: 650px) {
    article {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    article {
        width: 70%;
    }
}

@media only screen and (max-width: 420px) {
    article {
        width: 80%;
    }
}

@media only screen and (max-width: 375px) {

    article {
        width: 90%;

        .text-content {
            padding: 20px 10px;
        }
    }
}